html, body {
  height:100%;
  background-color: #a3a3a3;
}

#reg-map {
  width: 80%;
  height: 80%;
  margin: auto;
}

.generic-block {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

#time-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background-color: #d3d3d3;
  border-radius: 10px;
}

#timestamp {
  text-align: center;
}
