<!doctype html>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width">
      <meta charset="UTF-8">

      <link rel="stylesheet" href="static/style.css">

      <script src="static/map.js"></script>
      <script src="static/interface.js"></script>

      <!-- Change to pre-processed hostname -->
      <script>const hostname = "{{ host }}";</script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ map_api }}&callback=initMap" type="text/javascript"></script>

      <title>WSU Solar Car Dashboard</title>
    </head>

    <body>
      <div id="reg-map"></div>
      <div class="generic-block">
        <input id="time-slider" type="range"></input>
      </div>
      <div class="generic-block">
        <p id="timestamp"></p>
      </div>

      <!-- Once everything is defined, run the setup JS -->
      <script>setup();</script>
    </body>
</html>
